In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('BitcoinPrice.csv')

In [3]:
df.head()

                  Date        Price
0  2018-08-25 00:00:00  6719.429231
1  2018-08-26 00:00:00  6673.274167
2  2018-08-27 00:00:00  6719.266154
3  2018-08-28 00:00:00  7000.040000
4  2018-08-29 00:00:00  7054.276429

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    365 non-null    object
 1   Price   365 non-null    float64
dtypes: float64(1), object(1)
memory usage: 5.8+ KB

In [5]:
df.drop(['Date'], 1, inplace=True)

In [7]:
p_days = 30
df['Prediction']=df[['Price']].shift(-p_days)

In [10]:
df.tail()

            Price  Prediction
360  10746.507692         NaN
361  10169.094167         NaN
362  10030.746667         NaN
363  10255.977500         NaN
364  10158.540833         NaN

In [11]:
# seperate x and y

x = np.array(df.drop(['Prediction'], 1))
x = x[: len(df) - p_days]

In [14]:
x.shape

(335, 1)

In [15]:
y = np.array(df['Prediction'])
y = y[: -p_days]

In [16]:
# split the data
from sklearn.model_selection import train_test_split

In [17]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [22]:
p_days_array = np.array(df.drop(['Prediction'], 1))[-p_days :]

In [23]:
print(p_days_array)

[[ 9774.2575    ]
 [ 9725.4025    ]
 [ 9500.32416667]
 [ 9533.97933333]
 [ 9539.7125    ]
 [ 9873.81166667]
 [10088.8       ]
 [10478.90166667]
 [10790.63      ]
 [10826.275     ]
 [11713.16166667]
 [11759.01916667]
 [11703.73833333]
 [11803.88833333]
 [11816.9125    ]
 [11586.1725    ]
 [11377.80416667]
 [11397.80166667]
 [11144.38916667]
 [10450.81333333]
 [ 9988.9475    ]
 [10230.73333333]
 [10292.38333333]
 [10295.1175    ]
 [10605.82583333]
 [10746.50769231]
 [10169.09416667]
 [10030.74666667]
 [10255.9775    ]
 [10158.54083333]]

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
RF = RandomForestRegressor(n_estimators=1000, random_state=1)
RF.fit(x_train, y_train)
print('Random Forest Accuracy: {:.2f}%'.format(RF.score(x_test, y_test)*100))

Random Forest Accuracy: 90.77%

In [27]:
# Prediction
RF_predict = RF.predict(x_test)
print(RF_predict)

[ 3888.19046053 10366.10792929  3705.82191917  3646.68001583
 10285.50093006  3969.57089917 11474.57577083  3804.81286
  3869.16931071 10356.39958167  7397.55898333 10366.10792929
  5848.28602333  6490.54205517  3814.6020641   3971.63103833
  7296.79694333  5198.49892333  4904.95280917  3940.10506014
  6381.86186762  3748.00067691  3983.90551833  9816.1996425
  5271.66880083  6957.822685   10590.60495833  3790.48138276
  3866.222425    3570.12472321  4082.89353583  3961.14434833
  9136.95463583  3834.54353532  8299.26606333  7492.51052833
  3786.82738333  6443.6591325   3664.95858437 10131.088885
 11474.57577083  3883.3395      3847.07962441  4944.98473167
  4986.03192558  4398.0364125   6437.49095006  5102.3900509
 10238.15559083 11413.722365    3967.49401122  6507.788163
  6857.77223967  7664.98714968 10215.70977333  3600.74559833
  4730.96063333  7445.27817167  6437.49095006  4398.0364125
  3961.14434833  4003.50396333  3646.68001583  6714.0180925
  3745.63036583  7210.72135583  3826.09387917]

In [28]:
# model prediction for 30 days
RF_predict_30 = RF.predict(p_days_array)
print(RF_predict_30)

[10437.891295   10312.39907083 10193.23264917 10245.55307667
 10245.55307667 10421.91404417 10131.088885   10285.50093006
 10160.76581981 10115.46789481  9991.75427583 10830.34607817
 10026.45471083 11215.40413467 10254.241878   11188.5523975
 11417.03154    11411.72773667 11074.39087833 10285.50093006
 10254.1521875  10063.44151808 10063.44488808 10063.44488808
 10580.85780776 10157.76163481 10048.296285   10238.15559083
 10063.68424474 10124.9986625 ]

In [31]:
df.head(30)

          Price   Prediction
0   6719.429231  6639.304167
1   6673.274167  6412.459167
2   6719.266154  6468.631667
3   7000.040000  6535.476667
4   7054.276429  6677.342500
5   6932.662500  6550.474167
6   6981.946154  6593.135000
7   7100.946667  6590.968333
8   7247.935385  6562.641667
9   7260.949231  6470.402500
10  7326.852500  6563.628333
11  7113.069231  6568.549167
12  6433.271667  6581.486667
13  6444.804167  6558.537500
14  6366.107500  6618.567692
15  6286.425833  6621.711667
16  6297.877692  6563.009167
17  6296.320833  6248.635833
18  6273.137500  6260.530833
19  6450.179231  6260.645833
20  6499.062500  6299.399167
21  6518.655000  6452.571667
22  6480.644167  6596.618333
23  6400.600833  6596.276154
24  6296.631667  6568.040769
25  6335.826667  6487.444167
26  6418.562667  6488.825833
27  6669.990833  6531.601667
28  6709.312500  6498.485833
29  6710.445000  6481.426000